.container-fluid {
    padding: 5px 10px;
}

.nav-item {
    margin: 0px 5px;
}

.jumbotron {
    padding: 4rem;
    color: white;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    background-image: url('../images/jumbotron.jpg');
}

.jumbotron p {
    font-weight: bold;
    font-size: 1.2rem;
}

.jumbotron .lead {
    font-size: 1.5rem;
}